In [2]:
number1 = 40
number2 = 30
if number1*number2<=1000:
    print(number1*number2)
else:
    print(number1+number2)

70

In [7]:
pn=0
for i in range (0,10):
    print('the current num= ',i,' the prev num= ',pn,' sum= ',i+pn)
    pn=i

the current num=  0  the prev num=  0  sum=  0
the current num=  1  the prev num=  0  sum=  1
the current num=  2  the prev num=  1  sum=  3
the current num=  3  the prev num=  2  sum=  5
the current num=  4  the prev num=  3  sum=  7
the current num=  5  the prev num=  4  sum=  9
the current num=  6  the prev num=  5  sum=  11
the current num=  7  the prev num=  6  sum=  13
the current num=  8  the prev num=  7  sum=  15
the current num=  9  the prev num=  8  sum=  17

In [22]:
str1='pythonr'
l=len(str1)
for i in range (0,l-1,2):
    print(str1[i])

p
t
o

In [38]:
for i in range (1,11):
    for j in range(1,11):
        print(i*j,end= " ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [40]:
for i in range (5,0,-1):
    for j in range (0,i):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [47]:
def exponent(base, exp):
    result=1
    for i in  range(0,exp):
        result*=base
    return result

print('the result= ',exponent(3,4))

the result=  81

In [48]:
x = 36 / 4 * (3 + 2) * 4 + 2
print(x)

182.0

In [49]:
var = "James" * 2 * 3
print(var)

JamesJamesJamesJamesJamesJames

In [50]:
var = "James" * 2 * 3
print(var)

JamesJamesJamesJamesJamesJames

In [51]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [54]:
for i in range(10, 15, 1):
    print( i, end=', ')

10, 11, 12, 13, 14,

In [56]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add("Vicki")
print(sampleSet)

{'Vicki', 'Garry', 'Eric', 'Jodi'}

In [57]:
str = "pynative"
print (str[1:3])

yn

In [59]:
var= "James Bond"
print(var[2::-1])

maJ

In [60]:
valueOne = 5 ** 2
valueTwo = 5 ** 3
print(valueOne)
print(valueTwo)

25
125